.App{
    /* background: lightgray; */
    width: 650px;
    margin: 0 auto
}
.emailAndName{
    margin: 10px auto;
    display: block;
    width: 300px;
}
.subjectAndAvg{
    width: 300px;
    margin: 10px auto;
}
.artSpace{
    float: left;
    margin-right: 100px;
    margin-left: 60px;
    width: 180px;
}
.mathSpace{
    width: 180px;
    float: left;
}